@mixin flex-box($justify-content) {
    display:flex;
    justify-content: $justify-content;
    align-items: center;
}

@mixin flex-column($justify) {
    display:flex;
    flex-direction: column;
    justify-content: $justify;
    align-items: center;
}

@mixin board-box ($board-color) {
    width:150px;
    height:50px;
    background-color: $board-color;
    border-radius:10px;
}

@mixin box-style ($background) {
    background-color: $background;
    padding:15px;
    border-radius:5px;
}