@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Poppins&display=swap');
$firstBackground-color: #EBEBF4;
$secondBackground-color:#9e98ab59;
$Purple-color:#DBB0C9;
$blue: #7376aa;
$pink: #fd5e53;
$font:'Poppins', sans-serif;;
